@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background:#0d0d2e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    background-color: white;
    width: 400px;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 400px;
}
input::placeholder {
    font-weight:normal;       
    color: #000000;             
    font-size: 12px;        
}

.login-form h1 {
    font-size: 32px;
    color: black;
    margin-bottom: 25px;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    border: 2px solid black;
    
}

#login-button {
    width: 30%;
    padding: 10px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    font-weight: bolder;
}

.password-container {
    position: relative;
    width: 100%;
}
.login-form p{
    font-weight: bolder;
    font-size:small;
}

.password-container input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    font-size: 12px;
    border: 1px solid #ccc;
    background-color: rgba(245, 245, 245, 0.9);
    box-sizing: border-box;
}
