@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100%;
  background: #0d0d2e;
  display: flex;
  justify-content: center;
}
.registration-form {
  width: 550px;
  background-color: #fff;
  padding: 30px 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.registration-form h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #000000;
}

.registration-form label {
  display: block;
  margin-bottom: 1px;
  font-size:small;
  font-weight: bolder;
  color: #000000;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="date"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 12px;
}

.registration-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.gender-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.registration-form input[type="radio"] {
  margin-right: 5px;
}
.registration-form button[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

#loginlink {
  text-align: center;
  margin-top: 20px;
  font-size: small;
  font-weight: bolder;
}
#loginlink a {
  text-decoration: none;
  color: #000000;
  font-weight:bolder;

}
.registration-form span {
  font-weight: bold;
  font-size: smaller;
  color: red;
}